/* CSS declarations go here */
#createPartida{
	margin: 0 auto;
	width: 170px;
	height: 60px;
	color: white;
	background: #804000;
	font-size: 20px;
	line-height: 40px;
	margin-top:75px;
}
#unirsePartida{
	margin: 0 auto;
	width: 170px;
	height: 60px;
	color: white;
	background: #804000;
	font-size: 20px;
	line-height: 40px;
	margin-top:75px;
}

#crpart{
	color: white;
	background-image:url(images/crear.jpg);
	width: 300px;
	height: 230px;
	position: relative;
	top: 20px;
	left:20px;
	font-size:20px;
	line-height:30px;
	text-align:left;
}

#aceptar{
	background: #FFFF00;
	color: black;
	margin-top: 10px;
	margin-left: 170px;
}

#gcontainer{
	background-image: url(images/inicio.png);
	background-position: center;
	height: 200px;
	width: 1200px;
	text-align: center;
}

#toPlay{
	position: relative;
	margin-left:10px;
}

#allSalas{
	color: white;
	font-size:15px;
	height: 450px;
	width: 500px;
	background-image: url(images/salas.jpg);
	position: relative;
	top: 20px;
	left: 30px;
}

#allPlayers{
	color: white;
	font-size: 20px;
	background-image: url(images/jugadores.jpg);
	height: 278px;
	width: 450px;
	top: 80px;
	left: 50px;
}

#dropOutGame{
	position:absolute;
	top:220px;
	left: 330px;
}

#chatZone{
	height: 438px;
	width: 338px;
	top: 30px;
	left: 40px;
	background-image: url(images/chat.jpg);
}
